body{
  background-color: #353b48;
}

.about-image{
  width:100%;
  padding: 0 0 5% 0
}

.about-text{
  font-size: 20px;
}

.about-section{
  padding: 3% 0;
  background-color: white;
  height:90vh;
}

@media only screen and (max-width: 600px) {
    .about-section {
      height: auto;
    }

.about-paragraph{
padding-right:30%;
}

@media only screen and (max-width: 769px) {
    .about-paragraph {
padding-right:5%;
    }
}


.p-spacing{
  padding:1% 0 0 0;
}

.text{
  font-size:18px;
  line-height: 26px;
color:#636e72;
}

.copyright{
  text-align: left;
  color: black;
}


.copyright{
color:white;
text-align: right;
padding-top:5px;
}
.social-media{
font-size:20px;
}

.social-icons{
  color:white;
}
.social-icons:hover{
color:#00a8ff;
}
