.about-image{
  width:100%;
}

.about-text{
  margin-top: 8%;
}

.about-section{
  padding: 3% 0;
}

.about-paragraph{
padding-right:30%;
}

@media only screen and (max-width: 769px) {
    .about-paragraph {
padding-right:5%;
    }
}

.social-media{
  margin:0;
  padding:2% 0 ;
}

.social-icons{
    color:black;
}
.social-icons:hover{
  color:#00a8ff;
}

.p-spacing{
  padding:1% 0 0 0;
}

.text{
  font-size:18px;
  line-height: 26px;
color:#636e72;
}

.copyright{
  text-align: left;
  color: black;
}

.footer{
  margin-top: 2%;
}
