.main-content{
  background-color: #f1f2f6;
}

.icon-bar{
  background-color: #f1f2f6;
}

.hero-intro{
  color:#2d3436;
}

.hero-section{
  padding:1% 0 2% 0;
}

.intro-text{
  font-size:45px;
  line-height:50px;
  padding-top:5%;
  padding-bottom:2%;
  margin:0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

@media only screen and (max-width: 450px) {
    .intro-text {
      font-size:25px;
      line-height:35px;
    }
}

h4 h5{
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.hero-image{
  width:100%;
  padding:1% 0;
}

@media (max-width: 766px) {
.hero-hide {
display: none;
}
}


p{
  color:#636e72;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
}

.sample-image{
  width:100%;
}


.web-mobile-header{
text-align: center;
padding-bottom:1%;
margin-top:1%;
}

.print-section{
  padding-bottom:2%;
}

.copyright{
  color:#f1f2f6;
  text-align: right;
  padding-top: 3px;
}
.social-media{
  font-size:20px;
}

.footer{
  padding:1% 0;
}
